body{
  margin: 0px;
  text-align: center;
}

.game {
  width: 600px;
  height: 200px;
  border-bottom: 2px solid black;
  margin: auto;
  background-color: white;
  position: relative;
}

#game_over{
  position: absolute;
  bottom: 100px;
  left: 240px;
  visibility: hidden;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("img/dino.png");
  background-size: 50px 50px;
  position: absolute;
  top: 150px;
  left: 10px;
}

.jump {
  animation: jump 0.6s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  50% {
    top: 60px;
  }

  100% {
    top: 150px;
  }
}


/*OBSTACLES*/
#cactus {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 160px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  visibility: hidden;
}

.cactus_move {
  animation: cactus 2s infinite linear;
}

#bird {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 70px;
  left: 580px;

  background-image: url("img/bird.png");
  background-size: 20px 40px;

  visibility: hidden;
}

.bird_move {
  animation: bird 3s infinite linear;
}

@keyframes cactus {
  0% {
    left: 580px;
  }

  100% {
    left: 0px;
  }
}

@keyframes bird {
  0% {
    left: 580px;
  }

  100% {
    left: 0px;
  }
}
